
.card{ 

    width: 350px;
    height: 296px;
       
    @media (max-width: 1139px) {
        width: 270px;
        height: 224px;
    }
    
    /* Mobile */
    @media (max-width: 899px) {
        width: 226px;
        height: 213px;
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
        width: 290px;
        height: 235px;
    }

}

.card.card--big {
    width: 540px;
    height: 463px;

    @media (max-width: 1139px) {
        width: 420px;
        height: 366px;
    }
    
    /* Mobile */
    @media (max-width: 899px) {
        width: 354px;
        height: 235px;
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
        width: 290px;
        height: 235px;
    }
    .card__title{
        font-size: 30px;
        margin-bottom: 8px;

        @media (max-width: 1139px) {
            font-size: 24px;
            margin-bottom: 6px;
        }
        
        /* Mobile */
        @media (max-width: 899px) {
            font-size: 18px;
            margin-bottom: 4px;
        }



    
    }
    .card__img{
        margin-bottom: 20px;
        height: 370px;
        /* Mobile */
        @media (max-width: 1139px) {
            height: 287px;
        }

        @media (max-width: 899px) {
            margin-bottom: 10px;
            height: 180px;
        }

        /* Mobile XS */
        @media (max-width: 767px) {
            width: 290px;
            height: 180px;
        }

    }
    .card__text {

        p{
        font-size: 20px;

        @media (max-width: 1139px) {
            font-size: 16px;
        }
        
        /* Mobile */
        @media (max-width: 899px) {
            font-size: 14px;
        }
        

        }
    
    }
}



.card.card--big{
    .card__img {
        span{
            width: 250px;
            padding: 20px 0;
            z-index: 3;

            @media (max-width: 899px) {
                width: 210px;
                padding: 14px 0;
            }
        }
    }
}

.card:hover{
    .card__img{
        span{
            opacity: 1;
        }

        &:before{
            opacity: 1;
        }
    }
}

.card__img {
    position: relative;
    margin-bottom: 16px;
    overflow: hidden;
    height: 220px;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    span{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 210px;
        padding: 14px 0;
        z-index: 3;
        border-radius: 80px;
        color: #fff;
        background-color: $accent-color-hover;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3; /* 23.4px */
        opacity: 0;
        transition: opacity .3s;
    }

    &:before{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: rgba(255, 221, 85, 0.75);
        opacity: 0;
        transition: opacity .3s;
    }
    @media (max-width: 1139px) {
        margin-bottom: 10px;
        height: 170px;
    }
    @media (max-width: 899px){
        height: 140px;
    }
    @media (max-width: 767px) {
        width: 290px;
        height: 180px;
    }
}
.card__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3; /* 39px */
    margin-bottom: 6px;
    @media (max-width: 1139px) {
        font-size: 18px;
    }

    @media (max-width: 767px) {
        margin-bottom: 4px;
    }
    

}




.card__text {

    p{
    font-size: 18px;
    line-height: 1.3; /* 23.4px */

    @media (max-width: 1139px) {
        font-size: 14px;
    }

    }

}

