.link{
    color: $link-color;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    transition: color .3s;
    &:hover{
        color: $accent-color-hover;
    }

    @media (max-width: 1139px) {
        font-size: 18px;
    }
    
    /* Mobile */
    @media (max-width: 899px) {
        
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
    
    }
}