.header{
    padding-top: 60px;


    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 30px;
        .container{
            width: 100%;
            max-width: 899px;
        }
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
    
    }


}
.header__burger {
    display: none;
    width: 40px;
    height: 25px;
    position: relative;
    background-color: transparent;
    z-index: 999;
    span{
        position: absolute;
        transform: translate(-50%, -50%);
        height: 5px;
        width: 40px;
        background-color: #000;
        transition: .3s;
        &:after, &:before{
            content: '';
            position: absolute;
            height: 5px;
            width: 40px;
            background-color: #000;
            transition: .3s;
        }

        &:after{
            transform: translate(-50%, 9px);
        }
        &:before{
            transform: translate(-50%, -9px);
        }
    }

    &.header__burger--active{
        span{
            background-color: transparent;

            &:after{
                transform: translate(-14px, 14px);
                rotate: 45deg;
            }
            &:before{
                transform: translate(-14px, -14px);
                rotate: -45deg;
            }
        }
    }

    @media (max-width: 899px) {
        display: block;
    }
    
}


.menu__overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 73, 116, 0.80);
    transform: translateX(-100%);   
    transition: transform .5s;
    &.menu__overlay--active{
        transform: translateX(0%);
    }

}

.header__burger-menu {
    padding: 30px 15px 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 320px;
    position: fixed;
    z-index: 99;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #fff;
    transition: transform .4s;
    &.header__burger-menu--active{
        transform: translate(0, -50%);
    }
}
.header__burger-nav {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}
.header__burger-socials {
    margin-top: auto;
    margin-bottom: 20px;
}

.socials__item {
}

.header__title{
    display: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1; /* 20px */
    /* Mobile */
    @media (max-width: 899px) {
        display: block;
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
    
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    display: flex;
    column-gap: 100px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3; /* 26px */
    
    a{
        transition: color .3s;

        &:hover{
            color: $accent-color-hover;
        }

    }

    @media (max-width: 1139px) {
        column-gap: 50px;
    }
    
    /* Mobile */
    @media (max-width: 899px) {
        display: none;
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
    
    }
}
.header__socials {
    display: flex;
    column-gap: 25px;
    align-items: center;
    a{
         &:hover{
            opacity: .75;
         }
    }
    @media (max-width: 1139px) {

    }
    
    /* Mobile */
    @media (max-width: 899px) {
        display: none;
    }
    
    /* Mobile XS */
    @media (max-width: 767px) {
    
    }
}